<!DOCTYPE html>
<%-include('../partials/head')%>
<body>
    <div class="container">
        <main class="pt-5">
            <%- include('../partials/header', {page: 'Sobre'})%>
            <div class="mt-4 p-5 bg-light rounded">
                <h1>Sobre mim</h1>
                <p>Eu sou Ruben Fontes, estudante de programação web.</p>
            </div>
        </main>
        <%- include('../partials/footer')%>
    </div>
</body>
</html>