<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head')%>
<body>
    <div class="container">
        <main class="pt-5">
            <%- include('../partials/header')%>
            <div class="mt-4 p-5 bg-light rounded">
                <h1>Node com EJS</h1>
                <p>Vamos aprender a trabalhar com arquivos EJS</p>
            </div>
        </main>
        <%- include('../partials/footer')%>
    </div>
</body>
</html>